@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int RoleId = Convert.ToInt32(HttpContext.Session.GetString("RoleId"));
    if(RoleId == 0){
        Response.Redirect("/Login");
    }
    else if(RoleId == 1 || RoleId == 2)
    {
        Response.Redirect("/AccountPage/Index");
    }
    else
    {
        Response.Redirect("/PermissionDenied");
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
